

.home .app-subject{

    .app-subject-item {
        padding: 10px;
        background: #fff;
        margin: 8px 0px;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;

        .subject-container {
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
        }

        .subject-item{
            width: 30%;
            display: inline-block;
            text-align: center;
            overflow: hidden;
            padding: 0px 15px;
            img{
                width: 85px;height: 85px;
            }
            p{
                margin: 5px 0px;
                text-align: center;
            }
            p:first-of-type{
                font-size: 12px;
                color: #323232;
                height: 11px;
                white-space: nowrap;
            }
            p:last-of-type{
                font-size: 13px;
                color: #ff6640;
            }
        }

        .subject-all{
            line-height: 151px;
            vertical-align: top;
            text-align: center;
            span {
                width: 50px;
                height: 50px;
                border-radius: 50px;
                border: 1px solid #ccc;
                line-height: 50px;
                text-align: center;
                font-size: 12px;
                color: #ccc;
                display: inline-block;
                margin-top: 30px;
            }
        }

    }

}